.listUpsideDown {
    -webkit-transform:rotateX(180deg);
    transform:rotateX(180deg);
}
.messageUpsideDown {
    -webkit-transform:rotateX(180deg);
    transform:rotateX(180deg);
}

#input {
    padding: 10px;
    justify-content: space-between;
  }
  
  #input ion-button {
    padding-left: 5px;
  }
  
  ion-icon {
    font-size: 2rem;
  }
  
  #datetime {
    font-size: xx-small;
    padding-right: 10px;
    padding-left: 5px;
  }
  
  #content {
    padding-left: 5px;
  }
  
  #sender {
    font-size: small;
    padding-left: 5px;
  }
  
  #mensaje {
    border-radius: 35px 20px;
    background-color: #262626;
    padding: 10px;
  }